@import 'variables';
@import 'mixins';

.excel__header{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: $header-height;
    padding: 8px 4px 0;
    display: flex;
    justify-content: space-between;
    
    & .input{
        padding: 2px 4px;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 2px;
        height: 20px;
        font-size: 18;
        line-height: 20px;
        &:hover{
            border: 2px solid $border-color;
            
        }
        &:focus{
            border: 2px solid crimson;
            
        }
    }
    & .button{

    }
}